p{
    font-size:50px;
    background-color: #4286F3;
}
#apple{
    color:red;
}
#banana{
    color:#FAC230;
}
#orange{
    color:#FAC230;
}
#kind{
    color:blue;
}
.fruit{
    background-color: #EB4537;
}